body {
    background: #e1e1e1;
}
.mainHeader {
    color:tomato;

}
.sectionHeader {
    color: #333333;;
    font-size: 26px;
}
p {
    color: darkblue;
}
#pamietniczek {
    background: red;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}