body {
    background: #e1e1e1;
}
.mainHeader {
    color:tomato;

}
.sectionHeader {
    color:lightblue;
    font-size: 64px;
}
p {
    color: darkblue;
}
#pamietniczek {
    background: red;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}